<span class="centered">
    <h1>drumdibum-Datenschutzerklärung</h1>
    <p>(nachfolgend „Datenschutzerklärung“)</p>
  </span>
<div class="well wrapper">
  <br>
  <p>
    Stand: 12. März 2015
    <br><br>
    Diese Datenschutzerklärung soll Ihnen als Nutzer des Terminmanagementtools („drumdibum“) sowohl über den Webbrowser
    als auch in Form einer mobilen Applikation auf Smartphones oder Tablet PCs („App“) nutzbar, erreichbar unter
    <a routerLink="/">{{url}}</a>, allen hierauf verweisenden weiteren Internetseiten und (zusammenfassend „Website“)
    aufzeigen, welche auf Ihre Person bezogenen Daten durch uns, also die IKS Gesellschaft für Informations- und
    Kommunikationssysteme mbH, Siemensstraße 27, 40721 Hilden, Deutschland („Anbieter“ oder „wir“) als sog.
    verantwortliche Stelle i.S.d. § 3 Abs. 7 Bundesdatenschutzgesetz („BDSG“) erhoben, verarbeitet und genutzt werden
    („Datenverarbeitung“ oder „Daten verarbeiten“). Der Schutz Ihrer personenbezogenen Daten hat für uns höchste
    Priorität. Daher möchten wir Ihnen jederzeit Rede und Antwort bezüglich der Verarbeitung Ihrer personenbezogenen
    Daten stehen. Wenn Sie Fragen haben, die Ihnen diese Datenschutzerklärung nicht beantworten kann oder wenn Sie zu
    einem Punkt vertiefte Informationen wünschen, wenden Sie sich bitte jederzeit an unseren Ansprechpartner Herrn
    Thomas Kondring (<a href="mailto:T.Kondring@iks-gmbh.com">T.Kondring@iks-gmbh.com</a>).
  </p>
  <br>
  <p class="bold">1. Allgemeines</p>
  <br>
  <p>1.1 Personenbezogene Daten erlauben die Feststellung der Identität einer natürlichen Person. Hierunter fallen unter
    anderem Name, Geburtsdatum, Anschrift und E-Mail-Adresse. Zu den personenbezogenen Daten zählen auch Bestands- und
    Nutzungsdaten, die im Zusammenhang mit Ihrer Nutzung von drumdibum anfallen.</p>
  <p>1.2 Die Offenlegung Ihrer Identität ist entweder bei einer Kontaktaufnahme mit uns oder bei der Registrierung
    als Mitglied erforderlich, um auf alle Funktionen und Dienstleistungen der browserbasierten Website zugreifen zu
    können. Es ist Ihre freie Entscheidung, ob Sie mit uns in Kontakt treten oder registrierter Nutzer der Website
    werden wollen und zu diesem Zweck ggf. auch personenbezogene Daten uns gegenüber offenbaren.</p>
  <p>1.3 Als Nutzer der Website sollten Sie beachten, dass sie über Links auf dieser Website zu anderen
    Internetseiten gelangen können, die nicht von uns, sondern von Dritten betrieben werden. Solche Links werden
    entweder von uns eindeutig gekennzeichnet oder sind durch einen Wechsel in der Adresszeile Ihres Browsers erkennbar.
    Für die Einhaltung der datenschutzrechtlichen Bestimmungen und einen sicheren Umgang mit Ihren Daten auf diesen von
    Dritten betriebenen Internetseiten sind wir nicht verantwortlich.</p>
  <br>
  <p class="bold">2. Datenverarbeitung durch die Nutzung der Website</p>
  <br>
  <p>2.1 Die Website wird von einem hierauf spezialisierten Computer („Server“) ausgeliefert, der automatisch bei jedem
    Aufruf der Website Informationen erhebt und in Protokolldateien („Logfiles“) speichert. Hierbei handelt es sich um
    folgende Informationen: Browsertyp und Browserversion („User-Agent“), verwendetes Betriebssystem, Adresse der zuvor
    besuchten Internetseite („Referrer-URL“), Adresse des Computers, mit dem Sie auf die Website zugreifen
    („IP-Adresse“), den Benutzernamen, mit dem Sie sich anmelden sowie Uhrzeit des Abrufs der Website. Diese
    Informationen werden von Ihrem Browser übermittelt, sofern Sie Ihren Browser nicht so konfiguriert haben, dass die
    Übermittlung dieser Informationen unterdrückt wird. Die in den Logfiles gewonnenen Daten über die Zugriffe auf diese
    Website können von uns einem bestimmten Besucher der Website nicht zugeordnet werden. Eine Zusammenführung dieser
    Daten mit anderen Datenquellen durch uns erfolgt nicht.
  </p>
  <p>2.2 Wenn Sie drumdibum in Anspruch nehmen wollen, müssen Sie sich als Mitglied registrieren. Wir werden dann
    weitere personenbezogene Daten bei Ihnen erheben, diese dauerhaft speichern und im Zusammenhang mit unserer Leistung
    für Sie verarbeiten und nutzen. Damit wir die von Ihnen gewünschten vertraglichen Leistungen erbringen können,
    benötigen wir Ihren Vor- und Nachnamen, E-Mail-Adresse sowie einen Benutzernamen. Diese Daten verwenden wir nur,
    soweit es für die Erbringung der Leistung notwendig ist. Nach vollständiger Vertragsabwicklung werden Ihre Daten
    gelöscht, sofern Sie nicht ausdrücklich einer darüber hinausgehender Datenverwendung zugestimmt haben oder keine
    gesetzlichen Aufbewahrungspflichten bestehen. Sind wir gesetzlich verpflichtet, die Daten nach Beendigung ihrer
    Mitgliedschaft aufzubewahren, werden wir die Daten zunächst sperren, also nicht mehr anderweitig verarbeiten und
    sodann bei Ablauf der Aufbewahrungsfristen löschen.</p>
  <p>2.3 Die Website verwendet sogenannte Cookies. Cookies sind kleine Textdateien, die wir über Ihren Browser auf Ihrem
    Computer gespeichert werden („Cookies“). Sie dienen dazu, die Nutzung dieser Website für Sie einfacher zu gestalten.
    Bei den auf dieser Website verwendeten Cookies handelt es sich regelmäßig um lediglich für die Dauer des Besuchs auf
    der Website gültige Cookies („Session Cookies“), die automatisch mit dem Verlassen der Website wieder von Ihrem
    Computer gelöscht werden. Die von dieser Website verwendeten Cookies enthalten keine Viren und richten auf Ihrem
    Computer keinen Schaden an. Personenbezogene Daten werden in den von dieser Website verwendeten Cookies nicht
    gespeichert. Sie können die Verwendung von Cookies mit einer entsprechenden Einstellung in Ihrem Browser verhindern.
    Wir weisen allerdings darauf hin, dass bei einem Verbot von Cookies möglicherweise nicht alle auf der Website
    angebotenen Funktionen genutzt werden können.</p>
  <p>2.4 Die Website verwendet Google AdSense. Dabei handelt es sich um einen Dienst der Google Inc., 1600
    Amphitheatre Parkway, Mountain View, CA 94043, USA, („Google“) mit dem Werbeanzeigen auf Internetseiten eingebunden
    werden können. Dabei verwendet Google AdSense Cookies, die eine Analyse der Benutzung der Website ermöglicht. Google
    AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen
    wie der Besucherverkehr auf unserer Website ausgewertet werden.
    Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich Ihrer
    IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort
    gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden. Google wird
    Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
    Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir
    weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
    nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.
    Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in
    der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
  </p>
  <br>
  <p class="bold">3. Weitergabe personenbezogener Daten an Dritte</p>
  <br>
  <p>3.1 Wir geben Ihre personenbezogenen Daten nicht an Dritte ohne Ihre vorherige Zustimmung weiter. In den gesetzlich
    geregelten Fällen sind wir auf Anweisung von Behörden verpflichtet, Auskunft zu erteilen.</p>
  <p>3.2 Sofern es zu einer Übermittlung personenbezogener Daten kommen sollte, erfolgt diese grundsätzlich nach den
    gesetzlichen Bestimmungen. Der Umfang der Übermittlung beschränkt sich auf das zur Erreichung des mit der
    Datenübermittlung verfolgten Zwecks notwendige Minimum.</p>
  <br>
  <p class="bold">4. Verwendung personenbezogener Daten zu Werbezwecken</p>
  <br>
  <p>4.1 Sofern dies auf der Website vorgesehen ist, haben Sie die Möglichkeit, in die Verwendung der von Ihnen
    eingegebenen personenbezogenen Daten zu Werbezwecken durch uns einzuwilligen. Die Einwilligung wird erteilt, in dem
    eine entsprechende Check-Box im Kontaktformular bei der Registrierung per Mausklick aktiviert wird und die von Ihnen
    eingegebenen Informationen sodann an uns übersendet werden.</p>
  <p>4.2 Eine von Ihnen ggf. erteilte Einwilligung gilt ausschließlich für die in der Einwilligungserklärung
    abschließend aufgezählten Unternehmen und die dort ebenfalls abschließend aufgeführten Angebote der genannten
    Unternehmen, ferner nur für den in der Einwilligungserklärung benannten Kommunikationsweg (etwa E-Mail oder
    Telefon). Der Abschluss eines Vertrags mit uns ist von einer Einwilligung in die Verwendung Ihrer personenbezogenen
    Daten zu Werbezwecken unabhängig.</p>
  <p>4.3 Die Einwilligung in die Verwendung personenbezogener Daten zu Werbezwecken kann jederzeit widerrufen werden.
    Bitte wenden Sie sich zu diesem Zweck an unseren Ansprechpartner Herrn Thomas Kondring (<a href="mailto:T.Kondring@iks-gmbh.com">T.Kondring@iks-gmbh.com</a>).
    Dort kann auch jederzeit der Text der Einwilligungserklärung erfragt werden. Ebenso ist es möglich, unabhängig von
    einer Einwilligung jederzeit der Verwendung personenbezogener Daten zu Werbezwecken uns zu widersprechen.</p>
  <p>4.4 Unabhängig von den Ziffern 4.1 bis 4.3 sind wir berechtigt, Ihre E-Mail-Adresse zu Werbezwecken zu verwenden,
    wenn wir Ihre E-Mail-Adresse im Zusammenhang mit der Nutzung der Website erhalten haben, die Werbung sich auf
    ähnliche Dienstleistungen von uns beschränkt, Sie der Verwendung Ihrer E-Mail-Adresse zu Werbezwecken nicht
    widersprochen haben und wir Sie bei der Erhebung Ihrer E-Mail-Adresse und bei jeder Verwendung klar und deutlich
    darauf hingewiesen haben, dass Sie der Verwendung jederzeit widersprechen können.</p>
</div>
