
<button (click)="back()" class="btn top-button"><i class="glyphicon glyphicon-chevron-left arrow-button"></i>Abbrechen</button>
<div *ngIf="!isEdit; else showEditHeader">
  <h2>Teilnehmen</h2>
</div>

<ng-template #showEditHeader>
  <button (click)="onDeleteAppointmentMember()" class="btn btn-primary top-button pull-right">Löschen</button>
  <h2>Ändern</h2>
</ng-template>

<form [formGroup]="appointmentMemberForm" id="appointment-member-form">
  <input formControlName="name" class="form-control inputline" type="text" tabindex="0" autofocus #nameInput placeholder="Name" maxlength="100" minlength="2"/>
</form>

<div *ngFor="let appointment of appointmentRequest.appointments; let idx=index" class="appointment-div center">

  <h3>
    {{ appointment.description }}
  </h3>

  <span *ngIf="dateCompare.isSameDateTime(appointment.startDate, appointment.endDate); else diffTime">
      <br>{{ appointment.startDate | datex: dateFormat[0] }}
    </span>
  <ng-template #diffTime>
      <span *ngIf="dateCompare.isSameDate(appointment.startDate, appointment.endDate); else diffDate">
      <br>{{ appointment.startDate | datex: dateFormat[0] }} - {{ appointment.endDate | datex: dateFormat[2] }}</span>
    <ng-template #diffDate>
      <br><span *ngIf="hasStartDate || hasStartTime">{{ appointment.startDate | datex: dateFormat[0] }} -</span>
      <br><span *ngIf="hasEndDate || hasEndTime"> {{ appointment.endDate | datex: dateFormat[1] }}</span>
    </ng-template>
  </ng-template>

  <a *ngIf="appointment.url" href="{{ appointment.url }}" target="_blank" tabindex="-1">
    <br>{{appointment.url}}
  </a>
  <div class="decision">
    <rp-decision-options *ngIf="appointmentRequest.appointmentRequestConfig.decisionType != 'NUMBER'"
                         [appointmentDecision]="appointmentMember.appointmentDecisions[idx]"
                         [decisionType]="appointmentRequest.appointmentRequestConfig.decisionType"
                         [tabindex]="0"
                         (afterSetDecision)="changeDecision($event, appointmentMember.appointmentDecisions[idx])">
    </rp-decision-options>
    <rp-decision-participants *ngIf="appointmentRequest.appointmentRequestConfig.decisionType == 'NUMBER'"
                              [appointmentDecision]="appointmentMember.appointmentDecisions[idx]"
                              (afterSetDecision)="changeDecision($event, appointmentMember.appointmentDecisions[idx])">
    </rp-decision-participants>
  </div>
</div>

<button  class="btn btn-primary pull-right confirm-button" (click)="submit()">
  <div *ngIf="!showAddMemberSpinner; else addSpinner">
    Speichern
  </div>
  <ng-template #addSpinner>
    <rp-spinner [spinnerStyles]="addMemberSpinnerStyles"></rp-spinner>
  </ng-template>
</button>

<modal [title]="modalTitle" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" (onClose)="onCloseModal()" modalClass="modal-lg">
  <modal-content>
    {{modalContent}}
  </modal-content>
</modal>
