tr {
  text-align: center;
  border-bottom: 1px solid #dbd9d6;
}
tr:last-child {
}

td:last-child {
  border-left: 1px solid #dbd9d6;
  background: #f4f4f4; /* For browsers that do not support gradients */
}
td {
  background: #f4f4f4; /* For browsers that do not support gradients */
}
.arrow-right {
  color: #828282;
  padding-right: 8px;
}
