<tr *ngFor="let appointment of appointmentRequest.appointments; let idx = index">
  <td>

    <span *ngIf="!appointment.displayedDescription; else shortDescription">
      {{ appointment.description }}
    </span>
    <ng-template #shortDescription>
      <span popover="{{appointment.description}}"
            popoverPlacement="bottom"
            [popoverOnHover]="true">
        {{appointment.displayedDescription}}
      </span>
    </ng-template>


    <span *ngIf="dateCompare.isSameDateTime(appointment.startDate, appointment.endDate); else diffTime">
      <br>{{ appointment.startDate | datex: dateFormat[0] }}
    </span>
    <ng-template #diffTime>
      <span *ngIf="dateCompare.isSameDate(appointment.startDate, appointment.endDate); else diffDate">
      <br>{{ appointment.startDate | datex: dateFormat[0] }} -<br> {{ appointment.endDate | datex: dateFormat[2] }}</span>
      <ng-template #diffDate>
        <br><span *ngIf="hasStartDate || hasStartTime">{{ appointment.startDate | datex: dateFormat[0] }} -</span>
        <br><span *ngIf="hasEndDate || hasEndTime"> {{ appointment.endDate | datex: dateFormat[1] }}</span>
      </ng-template>
    </ng-template>

  </td>

  <td (click)="onClickRow(idx)" class="clickable">
    <i class="glyphicon glyphicon-chevron-right arrow-right"></i>
  </td>


  <td>
    <div class="accept">{{appointmentRequest.decisionStatisticList[idx][1]}}</div>
    <div class="accept-if-necessary" *ngIf="appointmentRequest.appointmentRequestConfig.decisionType == 'EXTENDED'">
      {{appointmentRequest.decisionStatisticList[idx][2]}}
    </div>
    <div class="no-answer" *ngIf="appointmentRequest.appointmentRequestConfig.decisionType != 'NUMBER'">
      {{appointmentRequest.decisionStatisticList[idx][0]}}
    </div>
    <div class="decline">{{appointmentRequest.decisionStatisticList[idx][3]}}</div>
  </td>
</tr>
