table {
  width: 100%;
}
td:first-child {
  width: 70%;
}
.member {
  background: #f4f4f4; /* For browsers that do not support gradients */
}
td {
  border-bottom: 1px solid #dbd9d6;
  border-top: 1px solid #dbd9d6;
  text-align: center;
  height: 38px;
}

.arrow-button {
  color: #828282;
  padding-right: 8px;
}
.back-button {
  margin-top: -15px;
}

.is-user {
  font-weight: bold;
}

.is-me {
  background-color: #dbfdff; /* For browsers that do not support gradients */
  font-weight: bold;
}
