<td class="fix-left-col inputline">
  <form [formGroup]="appointmentMemberForm" id="appointment-member-form">
    <input formControlName="name" class="form-control inputline" type="text" tabindex="0" autofocus #nameInput placeholder="Name" maxlength="100" minlength="2"/>
  </form>
</td>

<td *ngFor="let appointment of appointmentRequest.appointments; let idx=index">
  <rp-decision-options *ngIf="appointmentRequest.appointmentRequestConfig.decisionType != 'NUMBER'"
                       [appointmentDecision]="appointmentMember.appointmentDecisions[idx]"
                       [decisionType]="appointmentRequest.appointmentRequestConfig.decisionType"
                       [tabindex]="0"
                       (afterSetDecision)="changeDecision($event, appointmentMember.appointmentDecisions[idx])">
  </rp-decision-options>
  <rp-decision-participants *ngIf="appointmentRequest.appointmentRequestConfig.decisionType == 'NUMBER'"
                            [appointmentDecision]="appointmentMember.appointmentDecisions[idx]"
                            (afterSetDecision)="changeDecision($event, appointmentMember.appointmentDecisions[idx])">
  </rp-decision-participants>
</td>

<td class="fix-right-col inputline">
  <button tabindex="0"
          (click)="addAppointmentMember()"
          class="add-appointment-member-btn" [ngStyle]="addAppointmentMemberButtonStyle">

    <i *ngIf="!showAddMemberSpinner; else addSpinner" class="glyphicon glyphicon-floppy-disk"></i>
    <ng-template #addSpinner>
      <rp-spinner [spinnerStyles]="addMemberSpinnerStyles"></rp-spinner>
    </ng-template>
  </button>
</td>
