thead, table {
  width: 100%;
}
th {
  text-align: center;
  height: 30px;
  color: white;
  padding-top: 4px;
  background: #2C3E50;
}
th:last-child {
  width: 50px;
}

.add-member-button {
  margin-bottom: 5px;
}
