<div *ngIf="!isLoadingComponent; else loadingComponent">
  <div *ngIf="isAuthorized && !isLoadingData; else protector">

    <div *ngIf="!showAppointmentMemberForm; else appointmentMemberForm">
      <div *ngIf="!isShowAppointment; else showAppointment">

        <rp-mobile-show-information [appointmentRequest]="appointmentRequest"></rp-mobile-show-information>

        <button class="btn btn-primary add-member-button" (click)="addAppointmentMember()">Teilnehmen</button>

        <table>

          <thead>
          <tr>
            <th>Terminbeschreibung</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody rp-mobile-appointment-rows [appointmentRequest]="appointmentRequest"  (afterClickRow)="show($event)"></tbody>

        </table>

      </div>
      <ng-template #showAppointment>
        <rp-mobile-show-decisions [appointmentIndex]="appointmentIndex" [appointmentRequest]="appointmentRequest" [user]="user" (onClickEdit)="onEdit($event)" (afterClickBack)="back()"></rp-mobile-show-decisions>
      </ng-template>

    </div>

    <ng-template #appointmentMemberForm>
      <rp-mobile-appointment-member-form [appointmentRequest]="appointmentRequest" [isEdit]="isEdit" [user]="user" [appointmentMember]="appointmentMember" [password]="password" (afterClickBack)="onCancelAddAppointmentMember()"></rp-mobile-appointment-member-form>
    </ng-template>

  </div>

  <ng-template #protector>
    <rp-protector [isEdit]="isEdit" [isLoading]="isLoadingData" [wrongPassword]="isWrongPassword"
                  (onSubmitPassword)="onSubmitPassword($event)"></rp-protector>
  </ng-template>

</div>

<ng-template #loadingComponent>
  <rp-spinner [spinnerStyles]="loadingSpinner"></rp-spinner>
</ng-template>
