<td *ngIf="editMemberId != memberId; else editInput" class="fix-left-col member"
    [ngClass]="{ 'is-me' : appointmentMember.backendUserId === user.id, 'is-user' : appointmentMember.backendUserId}">

  <i *ngIf="appointmentMember.backendUserId" class="fa fa-user user-icon" aria-hidden="true"></i>
  <span *ngIf="!appointmentMember.displayedName; else shortName">
    {{appointmentMember.name}}
  </span>
  <ng-template #shortName>
    <span popover="{{appointmentMember.name}}"
          popoverPlacement="bottom"
          [popoverOnHover]="true">
    {{appointmentMember.displayedName}}
              </span>
  </ng-template>
</td>
<ng-template #editInput>
  <td class="fix-left-col inputline">
    <input type="text" class="form-control"
           maxlength="100" [(ngModel)]="tmpAppointmentMember.name"
           tabindex="20" id="edit-name"/>
  </td>
</ng-template>

<td *ngFor="let appointmentDecision of appointmentMember.appointmentDecisions; let decisionIndex = index"
    class="long"
    class="decision-icon {{ decisionConverter.convertDecisionToColor(appointmentDecision, appointmentRequest.appointmentRequestConfig.decisionType) }}">

  <i *ngIf="appointmentRequest.appointmentRequestConfig.decisionType != 'NUMBER' && editMemberId != memberId"
     class="{{ decisionConverter.convertDecisionToIcon(appointmentDecision.decision) }}">
  </i>

  <b
    *ngIf="appointmentRequest.appointmentRequestConfig.decisionType == 'NUMBER' && appointmentDecision.participants != 0 && editMemberId != memberId">
    {{ appointmentDecision.participants }}
  </b>

  <rp-decision-options
    *ngIf="appointmentRequest.appointmentRequestConfig.decisionType != 'NUMBER' && editMemberId == memberId;"
    [appointmentDecision]="appointmentDecision"
    [decisionType]="appointmentRequest.appointmentRequestConfig.decisionType"
    [tabInput]="20"
    (afterSetDecision)="changeDecision($event, tmpAppointmentMember.appointmentDecisions[decisionIndex])">
  </rp-decision-options>
  <rp-decision-participants
    *ngIf="appointmentRequest.appointmentRequestConfig.decisionType == 'NUMBER' && editMemberId == memberId"
    [appointmentDecision]="appointmentDecision"
    [tabInput]="20"
    (afterSetDecision)="changeDecision($event, tmpAppointmentMember.appointmentDecisions[decisionIndex])">
  </rp-decision-participants>

</td>

<td
  *ngIf="!appointmentRequest.expired"
  class="fix-right-col member"
  [ngClass]="{ 'is-me' : appointmentMember.backendUserId === user.id, 'is-edit': editMemberId == memberId }">
  <div *ngIf="!(appointmentMember.backendUserId && user.id !== appointmentMember.backendUserId); else privateMember">
    <div
      *ngIf="(!showEditMemberSpinner || memberId != editMemberId) && (!showDeleteMemberSpinner || memberId != deleteMemberId); else iconSpinner">
      <div *ngIf="editMemberId != memberId; else isEditMemberId">
        <i (click)="editAppointmentMember()"
           class="glyphicon glyphicon-edit clickable pull-left first-icon show-icon"></i>
        <i (click)="onDeleteAppointmentMember(appointmentMember)"
           class="glyphicon glyphicon-trash clickable pull-right last-icon show-icon"></i>
      </div>
      <ng-template #isEditMemberId>
        <i (click)="saveAppointmentMember()"
           class="glyphicon glyphicon-floppy-disk clickable pull-left first-icon edit-icon" tabindex="20"></i>
        <i (click)="cancelEdit()"
           class="glyphicon glyphicon-remove clickable pull-right last-icon edit-icon" tabindex="20"></i>
      </ng-template>
    </div>
  </div>

  <ng-template #privateMember>
    <i class="fa fa-lock" aria-hidden="true"></i>
  </ng-template>
  <ng-template #iconSpinner>
    <rp-spinner [spinnerStyles]="iconSpinnerStyles"></rp-spinner>
  </ng-template>
</td>
