<h1>
  {{title}}
</h1>
<br>
<br>
<form [formGroup]="appointmentRequestForm" autocomplete="off">
  <!-- AppointmentRequest Page -->
  <div class="form-group row well" *ngIf="activeTab == 0">

    <rp-general-subform [general]="general" [setFocus]="setFocusOnGeneralForm"></rp-general-subform>
    <rp-decision-config-subform [decisionConfiguration]="decisionConfiguration"></rp-decision-config-subform>
    <rp-security-subform [securityForm]="securityConfiguration"
                         [isLoggedIn]="isLoggedIn"
                         [create]="create"></rp-security-subform>
    <rp-email-subform [emailConfig]="emailConfiguration" [emailList]="emailList"></rp-email-subform>
    <br>

    <div class=" ">
      <button type="button" (click)="next()" class="btn btn-primary pull-right" id="btn-next">
        {{nextButtonLabel}}
      </button>
      <button type="button" (click)="cancel()" class="btn btn-primary" id="btn-cancel">
        {{cancelButtonLabel}}
      </button>
    </div>
  </div>

  <!-- Appointment page -->
  <div class="col-md-12 well" *ngIf="activeTab == 1">
    <h2>{{general.get('title').value}}</h2>
    <rp-appointment-config-subform [appointmentConfiguration]="appointmentConfiguration"
                                   [hasAppointments]="hasAppointments"></rp-appointment-config-subform>
    <div [ngClass]="{'has-error': formSubmitted && appointments.length == 0}">
      <rp-appointment-subform [appointments]="appointments"
                              [appointmentConfig]="appointmentConfig"
                              [setFocus]="setFocusOnAppointmentSubform"
                              (onAddAppointment)="addAppointment($event)"></rp-appointment-subform>


      <rp-appointment-list [initialAppointments]="appointments"
                           [formSubmitted]="formSubmitted"
                           (onDeleteAppointment)="deleteAppointment($event)"
                           [appointmentConfig]="appointmentConfig"
                           [dateFormat]="dateFormat">
      </rp-appointment-list>
    </div>
    <div class="col-md-12 no-padding">
      <button type="button" (click)="submit()" class="btn btn-primary pull-right" id="btn-submit" tabindex="0"
              [disabled]="!isOneChecked() && appointmentConfiguration.dirty">
        {{submitButtonLabel}}
      </button>
      <button type="button" (click)="back()" class="btn btn-primary" id="btn-back" tabindex="0">
        {{backButtonLabel}}
      </button>
    </div>
  </div>
</form>
