<rp-own-appointment-request-list [appointmentRequests]="ownAppointmentRequests">
</rp-own-appointment-request-list>

<br>
<br>

<rp-participate-appointment-request-list [appointmentRequests]="participateAppointmentRequests">
</rp-participate-appointment-request-list>

<div class="btn-wrapper">
  <a routerLink="/appointmentrequest" >
    <button class="btn btn-primary">
      Neue Terminanfrage anlegen
    </button>
  </a>
</div>

<modal [title]="modalTitle" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" modalClass="modal-lg" (onClose)="onCloseModal()">
  <modal-content>
    {{modalContent}}
  </modal-content>
</modal>
