<h1>
  Registrieren
</h1>
<br><br>
<div class="row well">
  <form [formGroup]="userRegistrationForm">
    <div class="col-md-12">
      <div class="col-md-6">
        <div [ngClass]="{ 'has-error' : hasErrors('username') || usernameInUse }">
          <label for="form-username">
            Benutzername
          </label>
          <br>
          <input autofocus class="form-control" formControlName="username"
                 id="form-username" tabindex="1"
                 placeholder="Benutzername" type="text" autofocus/>
          <small *ngIf="hasErrors('username')" class="text-danger">
            Bitte tragen Sie einen Benutzernamen ein.
          </small>
          <small *ngIf="usernameInUse" class="text-danger">
            Der Benutzername ist bereits vergeben.
          </small>
          <br>
          <br>
        </div>
        <div [ngClass]="{ 'has-error' : (hasErrors('mail') && user.mail != undefined) || mailInUse }">
          <label for="form-mail">
            E-Mail
          </label>
          <br>
          <input class="form-control" formControlName="mail" id="form-mail" tabindex="2"
                 placeholder="E-Mail" type="text"/>
          <small *ngIf="hasErrors('mail') && user.mail != undefined" class="text-danger">
            Die eingegebene E-Mail ist ungültig.
          </small>
          <small *ngIf="mailInUse" class="text-danger">
            Die E-Mail wird bereits verwendet.
          </small>
          <br>
          <br>
        </div>

        <div [ngClass]="{'has-error' : hasErrors('password') || !passwordsMatching() }">
          <label for="form-password">
            Passwort
          </label>
          <br>
          <input class="form-control" formControlName="password" id="form-password"
                 tabindex="3"
                 placeholder="Passwort" type="password"/>
          <small *ngIf="hasErrors('password')" class="text-danger">
            Bitte tragen Sie ein Passwort ein.
          </small>
          <br>
        </div>

        <div [ngClass]="{'has-error' : hasErrors('confirmPassword') || !passwordsMatching()}">
          <label for="form-confirmPassword">
            Passwort wiederholen
          </label>
          <br>
          <input class="form-control" formControlName="confirmPassword"
                 id="form-confirmPassword" tabindex="4"
                 type="password" placeholder="Passwort"/>
          <small *ngIf="hasErrors('confirmPassword')" class="text-danger">
            Bitte tragen Sie Ihr Passwort erneut ein.
          </small>
          <small *ngIf="!passwordsMatching()" class="text-danger">
            Die Passwörter stimmen nicht überein.
          </small>
          <br>
          <br>
        </div>
      </div>

      <div class="col-md-6">
        <label for="form-firstname">
          Vorname
          <span class="optional">
            (optional)
          </span>
        </label>
        <br>
        <input class="form-control" formControlName="firstname" id="form-firstname"
               tabindex="5"
               placeholder="Vorname" type="text"/>
        <br>
        <br>
        <label for="form-lastname">
          Nachname
          <span class="optional">
            (optional)
          </span>
        </label>
        <br>
        <input class="form-control" formControlName="lastname" id="form-lastname"
               tabindex="6"
               placeholder="Nachname" type="text"/>
        <br>
        <div>
          <input type="checkbox" formControlName="termsAndConditions" tabindex="7" (keyup.enter)="changeTermsAndConditions()" />
          <label class="inline">Hiermit akzeptiere ich die
            <a routerLink="/terms-and-conditions" target="_blank">AGB's</a> und
            <a routerLink="/privacy" target="_blank">Datenschutzerklärung</a>
          </label>
          <br>
          <small *ngIf="isAGBChecked() || hasErrors('termsAndConditions')" class="text-danger">
            Um die Plattform benutzen zu können, müssen Sie den AGB's und der Datenschutzerklärung zustimmen.
          </small>
        </div>
        <br>
      </div>

    </div>
    <div class="register-button">
      <button (click)="saveUser()" (keyup.enter)="saveUser()" class="btn btn-primary btn-margin"
              tabindex="15">
        <div *ngIf="!alreadySubmitted">Registrieren</div>
        <rp-spinner *ngIf="alreadySubmitted" [spinnerStyles]="spinnerStyles"></rp-spinner>
      </button>
    </div>
  </form>
</div>
