<div *ngIf="!isCreated; else created">
<rp-appointment-request-form [appointmentRequest]="null" [create]="true" (onSubmit)="createAppointmentRequest($event)" (onCancel)="cancel($event)"></rp-appointment-request-form>

<modal [title]="modalTitle" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" (onClose)="onCloseModal()" modalClass="modal-lg">
    <modal-content>
        {{modalContent}}
    </modal-content>
</modal>
</div>
<ng-template #created>
  <rp-appointment-request-link [id]="createdId" [mail]="createdMail"></rp-appointment-request-link>
</ng-template>
