<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
        <span class="sr-only"> Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand clickable" routerLink="/" (click)="onClickTab()">
        drumdibum
      </a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">

      <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/appointmentrequest" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Terminanfrage erstellen </a>
        </li>
        <li>
          <a routerLink="/appointmentrequests" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Terminübersicht</a>
        </li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="/profile" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="glyphicon glyphicon-user"></i> {{ username }}
            </a>
          </li>
          <li>
            <a (click)="logout()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Logout</a>
          </li>
        </ul>
      </div>

      <div *ngIf="!isLoggedIn">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/appointmentrequest" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Terminanfrage erstellen </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="/register" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Registrieren </a>
          </li>
          <li>
            <a routerLink="/login" (click)="onClickTab()" class="clickable" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Login </a>
          </li>
        </ul>

      </div>


    </div>
  </div>
</nav>
<modal [title]="modalTitle" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" (onClose)="onCloseModal()" modalClass="modal-lg">
  <modal-content>
    {{modalContent}}
  </modal-content>
</modal>
