<h1>
  Profil
</h1>
<br>
<div class="row well wrapper">
  <table>
    <tr>
      <td class="bold">Benutzername:</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td class="bold">E-Mail:</td>
      <td>{{ user.mail }}</td>
    </tr>
    <tr>
      <td class="bold">Vorname:</td>
      <td>{{ user.firstname }}</td>
    </tr>
    <tr>
      <td class="bold">Nachname:</td>
      <td> {{ user.lastname }}</td>
    </tr>
  </table>
  <br>
  <a routerLink="/profile/changePassword">
    <input type="button" class="btn btn-primary" value="Passwort ändern"/>
  </a>
  <a routerLink="/appointmentrequests">
    <input type="button" class="btn btn-primary" value="Zu meinen Terminanfragen"/>
  </a>
</div>

<modal [title]="modalTitle" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true"
       modalClass="modal-lg" (onClose)="onCloseModal()">
  <modal-content>
    {{modalContent}}
  </modal-content>
</modal>
