<span class="centered">
      <h1>Allgemeine Geschäftsbedingungen „drumdibum“</h1>
      <p>(nachfolgend „AGB“)</p>
    </span>
<div class="well wrapper">
  <div class="inner">
    <br>
    <p>Die IKS GmbH, Siemensstraße 27, 40721 Hilden, Deutschland („Anbieter“), stellt mit drumdibum ein webbasiertes
      Terminmanagementtool („drumdibum“) zur Verfügung, das ausschließlich von registrierten Mitgliedern
      („drumdibum-User“) sowohl über den Webbrowser als auch in Form einer mobilen Applikation auf Smartphones oder
      Tablet PCs („App“) genutzt werden kann.</p>
    <br>
    <p class="bold">1. Allgemeine Bestimmungen</p>
    <br>
    <p>1.1 Diese AGB gelten für alle vom Anbieter mit drumdibum gegenüber Verbrauchern im Sinne von § 13 BGB und
      Unternehmern im Sinne von § 14 BGB angebotenen Leistungen. Die angebotenen Leistungen sind Dienstleistungen. Mit
      der Registrierung als Mitglied erkennt der drumdibum-User die zu diesem Zeitpunkt gültigen AGB an, in dem dieser
      während des Registrierungsvorgangs eine Checkbox aktiviert und hierüber seine Zustimmung zu den AGB erklärt. Die
      AGB können jederzeit in der jeweils gültigen Fassung unter dem folgenden Link <a
        routerLink="/terms-and-conditions">{{conditionsUrl}}</a> abgerufen
      werden.</p>
    <p>1.2 Diese AGB gelten ausschließlich. Abweichende, entgegenstehende oder ergänzende Allgemeine
      Geschäftsbedingungen des drumdibum-Users werden nur dann und insoweit Vertragsbestandteil, als der Anbieter ihrer
      Geltung ausdrücklich zugestimmt hat. Das Zustimmungserfordernis gilt auch dann, wenn der Anbieter in Kenntnis der
      allgemeinen Geschäftsbedingungen des drumdibum-Users die Leistungen vorbehaltlos ausführt.</p>
    <p>1.3 Die Vertragssprache ist deutsch. Sofern von diesen AGB oder anderen vertragsbezogenen Erklärungen und
      Unterlagen Übersetzungen in andere Sprachen als Deutsch gefertigt werden („Lesefassungen“) ist allein die deutsche
      Fassung verbindlich.</p>
    <p>1.4 Die AGB sowie die Leistungsbeschreibung nach Ziff. 2.1 sind für den drumdibum-User jederzeit über drumdibum
      nach Maßgabe dieser AGB abrufbar. Eine andere Speicherung der vorgenannten Texte oder im Zusammenhang mit der
      Nutzung von drumdibum durch den drumdibum-User zustande gekommenen Verträge durch den Anbieter für den
      drumdibum-User erfolgt nicht.</p>
    <p>1.5 Der Anbieter behält sich Änderungen dieser AGB ausdrücklich vor. Änderungen dieser AGB werden wirksam, wenn
      der drumdibum-User die Änderungen nicht innerhalb von einem Monat nach Zugang einer Änderungsmitteilung in
      Textform (§ 126b BGB) widerspricht und der Anbieter den drumdibum-User in der Änderungsmitteilung auf das
      Widerspruchsrecht und die hierfür geltende Frist hingewiesen hat. Widerspricht der drumdibum-User der Änderung in
      Textform (§ 126b BGB), gelten die früheren AGB weiter. Der Anbieter ist in diesem Fall zur Kündigung der
      Mitgliedschaft nach Ziff. 9 innerhalb von zwei Wochen nach Zugang des Widerspruchs berechtigt. Von diesem
      Änderungsvorbehalt ausgenommen sind solche Änderungen, die sich auf eine Verpflichtung einer der Parteien bezieht,
      deren Erfüllung die Nutzung von drumdibum überhaupt erst ermöglicht und auf deren Einhaltung die jeweils andere
      Partei regelmäßig vertraut oder vertrauen darf („wesentliche Vertragspflicht“).</p>
    <br>
    <p class="bold">2. Leistungsbeschreibung</p>
    <br>
    <p>2.1 Der Anbieter stellt drumdibum mit den dort angebotenen Leistungen so bereit, wie drumdibum bei der
      Registrierung des drumdibum-Users als Mitglied und der zu diesem Zeitpunkt geltenden sowie jederzeit unter <a
        routerLink="/terms-and-conditions">{{conditionsUrl}}</a> abrufbaren Leistungsbeschreibung verfügbar gewesen ist („as is“).
      Im Übrigen hat der
      drumdibum-User keinen Anspruch auf eine bestimmte Ausgestaltung oder Ausstattung von drumdibum. Der Anbieter
      behält sich das Recht vor, drumdibum nach eigenem billigem Ermessen (§ 315 BGB) unter Berücksichtigung der
      Interessen des drumdibum-Users ganz oder teilweise zu ändern oder dauerhaft oder vorübergehend einzustellen,
      sofern hierdurch wesentliche Vertragspflichten des Anbieters aus der Mitgliedschaft nicht beeinträchtigt werden
      und dies dem drumdibum-User zumutbar ist; das Verfahren nach Ziff. 1.5 gilt hierfür entsprechend.</p>
    <p>2.2 Eine über Ziff. 2.1 hinausgehende Beschaffenheit von drumdibum schuldet der Anbieter nicht, es sei denn, dem
      drumdibum-User ist eine darüber hinausgehende Beschaffenheit garantiert worden. Als durch den Anbieter garantiert
      gelten nur solche Eigenschaften, die vom Anbieter vor Registrierung als Mitglied ausdrücklich gegenüber dem
      drumdibum-User in Textform (§ 126b BGB) geäußert und als Garantie bezeichnet worden sind. Die Interoperabilität
      mit beim drumdibum-User vorhandener Hardware und Software ist keine geschuldete Beschaffenheit von drumdibum,
      soweit der Anbieter nicht ausdrücklich kompatible Hard- und Software ausgewiesen hat, insbesondere in der
      Leistungsbeschreibung nach Ziff. 2.1.</p>
    <p>2.3 Der Zugang zu drumdibum erfolgt über das Internet. Für das Vorhalten des Internetzugangs und der für den
      Zugang zu drumdibum ggf. beim drumdibum-User erforderlichen Software (etwa Browser, Plug-Ins, App-Store) ist der
      drumdibum-User verantwortlich.</p>
    <p>2.4 Dem drumdibum-User wird drumdibum ausschließlich als ein im Browser oder über eine App ausführbaren Service
      zur Inanspruchnahme der mit drumdibum angebotenen Leistungen bereitgestellt. Die Übergabe oder Zugänglichmachung
      von Quellcodes oder Schnittstellendefinitionen ist vom Anbieter nicht geschuldet.</p>
    <p>2.5 Der Anbieter stellt mit drumdibum lediglich die technische Plattform für die von den drumdibum-Usern oder
      Dritten im Auftrag des drumdibum-Users hierüber ggf. eingestellten Inhalte bereit. Die in drumdibum für einen
      drumdibum-User eingestellten Inhalte sind für den Anbieter fremde Inhalte im Sinne der Ziff. 6.2. Werden vom
      Anbieter ausnahmsweise eigene Inhalte über drumdibum bereitgestellt, sind diese ausdrücklich als solche
      gekennzeichnet.</p>
    <p>2.6 Über Links in drumdibum können die drumdibum-User zu externen Internetseiten gelangen, die nicht vom Anbieter
      betrieben werden. Solche Links werden vom Anbieter entweder eindeutig gekennzeichnet (z.B. als Anzeige oder
      Werbung) oder sind durch einen Wechsel in der Adresszeile des vom drumdibum-User verwendeten Browsers erkennbar.
      Für die Inhalte dieser externen Internetseiten ist der Anbieter nicht verantwortlich; Ziff. 8 bleibt
      unberührt.</p>
    <p>2.7 Der Anbieter ist berechtigt, drumdibum und die mit drumdibum zusammenhängenden Leistungen selbst oder durch
      Dritte anzubieten („Subunternehmer“). Der Anbieter wird ausschließlich Subunternehmer mit Sitz in der Europäischen
      Union oder dem Europäischen Wirtschaftsraum („EU/EWR“) mit der Erbringung von Dienstleistungen gegenüber dem
      drumdibum-User beauftragen.</p>
    <br>
    <p class="bold">3. Mitgliedschaft</p>
    <br>
    <p>3.1 Die Internetseite und die Apps zu drumdibum können ohne Registrierung jederzeit abgerufen werden. Zur
      Inanspruchnahme aller mit drumdibum vom Anbieter angebotenen Leistungen ist die Registrierung des drumdibum-Users
      als Mitglied von drumidbum erforderlich; ohne Registrierung ist der Leistungsumfang eingeschränkt. </p>
    <p>3.2 drumdibum-User können unbeschränkt geschäftsfähige natürliche Personen werden; andere Personen bedürfen für
      die Nutzung von drumdibum einer Einwilligung ihres gesetzlichen Vertreters. Der Anbieter behält sich vor, im
      Einzelfall die Registrierung des drumdibum-Users als Mitglied ohne Angabe von Gründen zu verweigern.
      Schadensersatzansprüche gegen den Anbieter aus der Ablehnung eines Mitglieds bestehen vorbehaltlich Ziff. 8
      nicht.</p>
    <p>3.3 Die Registrierung als drumdibum-User erfolgt über ein elektronisches Registrierungsformular auf der
      Internetseite oder in einer der Apps zu drumdibum unter Verwendung eines vom drumdibum-User gewählten
      Mitgliedsnamen und Passwortes. Jederzeit bis zum Absenden der in dieses Formular eingegebenen Daten können diese
      durch Überschreiben berichtigt oder der Registrierungsvorgang durch Schließen des Browser-Fensters oder der App
      abgebrochen werden. Erst mit dem Klick auf die Schaltfläche „registrieren“ gibt der drumdibum-User gegenüber dem
      Anbieter einen rechtlich verbindlichen Antrag ab. Dieser wird vom Anbieter unverzüglich bestätigt oder abgelehnt;
      nur mit der Bestätigung durch den Anbieter kommt ein Vertrag mit dem drumdibum-User zustande.</p>
    <p>3.4 Zur Vermeidung missbräuchlicher Registrierungen erfolgt nach Übermittlung des Formulars an den Anbieter
      unverzüglich die Bestätigung der Registrierung per E-Mail an die im Formular angegebene E-Mail-Adresse. Über den
      darin enthaltenen Link zur Freischaltung wird die Mitgliedschaft bestätigt; erst mit dieser Bestätigung beginnt
      die Mitgliedschaft bei drumdibum. Der drumdibum-User kann in seinem Mitgliederprofil jederzeit zusätzliche
      Informationen einfügen und bereits eingegebene Informationen ändern oder löschen. Hiervon ausgenommen sind solche
      Pflichtangaben, die zur Erhaltung des Profils unbedingt notwendig sind (Username, E-Mail-Adresse, etc.). Diese
      können geändert, aber vorbehaltlich Ziff. 9 nicht gelöscht werden.</p>
    <p>3.5 Die vom drumdibum-User in drumdibum hinterlegten Daten, insbesondere die bei der Registrierung abgefragten
      Daten, sind vollständig und wahrheitsgemäß anzugeben; dies gilt auch für solche Daten, die vom drumdibum-User
      nicht zwingend, sondern freiwillig zur Ergänzung seines Mitgliederprofils hinterlegt werden. Ändern sich die Daten
      des drumdibum-Users, ist der drumdibum-User zur unverzüglichen Aktualisierung der Angaben in seinem
      Mitgliederprofil verpflichtet. Der vom drumidbum-User gewählte Mitgliedsname darf keine Rechte Dritter verletzen,
      insbesondere keine Namens- und Kennzeichenrechte.</p>
    <p>3.6 Der Anbieter haftet vorbehaltlich von Ziff. 8 nicht für die Richtigkeit und Vollständigkeit der Angaben im
      Mitgliederprofil. Jeder drumdibum-User ist selbst verpflichtet, ggf. die Angaben anderer drumdibum-User in deren
      Mitgliederprofil zu überprüfen.</p>
    <p>3.7 Der drumdibum-User ist zur Geheimhaltung seines Passworts verpflichtet und hat dieses vor unbefugter
      Benutzung durch Dritte zu schützen. Der drumdibum-User ist zur Änderung des Passworts in regelmäßigen Abständen
      verpflichtet. Ist dem drumdibum-User ein Missbrauch seiner Zugangsdaten bekannt geworden, besteht die Möglichkeit
      oder droht ein solcher Missbrauch, wird der drumdibum-User den Anbieter unverzüglich hierüber informieren. Für
      eine missbräuchliche Nutzung seines Mitgliederprofils haftet der drumdibum-User; dies gilt nicht, wenn der
      drumdibum-User die missbräuchliche Nutzung nicht zu vertreten hat.</p>
    <br>
    <p class="bold">4. Zahlungsverpflichtungen</p>
    <br>
    <p>4.1 Die Mitgliedschaft bei drumdibum ist kostenlos.</p>
    <p>4.2 Einzelne Dienstleistungen bei drumdibum können in Zukunft kostenpflichtig sein. Hierauf wird der
      drumdibum-User spätestens vor der erstmaligen Inanspruchnahme einer kostenpflichtigen Leistung hingewiesen. Vor
      der erstmaligen Inanspruchnahme einer kostenpflichtigen Dienstleistung muss der drumdibum-User bestätigen, über
      deren Kostenpflichtigkeit sowie die Höhe der Kosten informiert worden und mit der kostenpflichtigen
      Inanspruchnahme der Dienstleistung einverstanden zu sein. Für die Inanspruchnahme kostenpflichtiger Leistungen
      gilt das in Ziff. 3.3 und Ziff. 3.4 beschriebene Registrierungsverfahren entsprechend.</p>
    <p>4.3 Der Anbieter behält sich vor, zunächst kostenfrei angebotene Dienstleistungen zukünftig kostenpflichtig
      anzubieten.</p>
    <br>
    <p class="bold">5. Inhalte und Pflichten der drumdibum-User </p>
    <br>
    <p>5.1 Der drumdibum-User ist berechtigt, drumdibum ausschließlich für eigene, nicht kommerzielle oder gewerbliche
      Zwecke zu nutzen. Eine kommerzielle oder gewerbliche Nutzung ist ausschließlich mit Zustimmung des Anbieters
      gestattet.</p>
    <p>5.2 Der Anbieter ist lediglich technischer Dienstleister. Die bei drumdibum von dem drumdibum-User oder in dessen
      Auftrag durch Dritte eingestellten Inhalte werden vom Anbieter lediglich gespeichert. Der Anbieter hat keine
      Kenntnis von den Inhalten; eine Auswahl der für den drumdibum-User eingestellten Inhalte oder eine sonstige
      Kontrolle dieser Inhalte durch den Anbieter findet nicht statt. Ebenso wenig beaufsichtigt der Anbieter die
      drumdibum-User und andere Nutzer von drumdibum oder erteilt diesen Weisungen. Deshalb handelt es sich für den
      Anbieter um fremde Inhalte. Der Anbieter distanziert sich ausdrücklich von den für den drumdibum-User
      eingestellten fremden Inhalten und macht sich diese durch Bereitstellung der technischen Plattform nicht zu Eigen.
      Der Anbieter trägt deshalb für die fremden Inhalte der Mitglieder keine Verantwortung.</p>
    <p>5.3 Für die Einhaltung der gesetzlichen Vorschriften hinsichtlich der für den drumdibum-User eingestellten
      Inhalte ist der drumdibum-User selbst verantwortlich. Sollte ein drumdibum-User oder ein Dritter Kenntnis davon
      erlangen, dass durch die von einem drumdibum-User eingestellten Inhalte offensichtlich Rechte Dritter verletzt
      werden (insbesondere Persönlichkeitsrechte, Namensrechte, Markenrechte, Urheberrechte), wird der Anbieter auf
      entsprechende Mitteilung den Vorwurf prüfen und, sofern rechtlich erforderlich, den Zugang zu diesen Inhalten
      sperren oder diese Inhalte löschen. In diesem Zusammenhang behält sich der Anbieter das Recht vor, kritische
      Inhalte nach Kenntniserlangung ohne vorherige Benachrichtigung zu löschen. Ein entsprechendes Kontaktformular ist
      unter <a routerLink="/contact">{{contactUrl}}</a> verfügbar.</p>
    <p>5.4 Jeder drumdibum-User hat das geltende Recht zu beachten und die Rechte Dritter zu wahren. drumdibum-Usern ist
      es insbesondere untersagt,</p>
    <ul>
      <li>Schutzrechte Dritter wie Marken, Urheber- und Namensrechte zu verletzen;</li>
      <li>beleidigende, verleumderische, pornografische, jugendgefährdende oder sonst strafrechtlich relevante Inhalte
        einzustellen;
      </li>
      <li>andere drumdibum-User und/oder Dritte unzumutbar zu belästigen, etwa durch unverlangt zugesandte Werbung
        (Spam) sowie anzügliche oder sexuell geprägte Kommunikation;
      </li>
      <li>über die auf drumdibum vom Anbieter bereitgestellten Funktionalitäten und Schnittstellen hinausgehende
        Mechanismen, Software und/oder Skripte einsetzen, insbesondere wenn hierdurch Leistungen des Anbieters
        blockiert, modifiziert, kopiert und/oder überschrieben werden und diese Dienstleistungen für die vertragsgemäße
        Nutzung von drumdibum erforderlich sind, sowie
      </li>
      <li>zu versuchen, drumdibum, die vom Anbieter verwendeten Sicherheitssysteme oder die auf drumdibum abrufbaren
        Inhalte durch Datenveränderung (§ 303a Strafgesetzbuch), Computersabotage (§ 303b StGB), Fälschung
        beweiserheblicher Daten (§269, 270 StGB), Unterdrückung beweiserheblicher Daten (§ 274 StGB), Computerbetrug (§
        263a StGB), Ausspähen von Daten (§ 202a StGB), Abfangen von Daten (§ 202b StGB) oder andere Straftaten zu
        beeinträchtigen, wobei entsprechende Versuche vom Anbieter bei der zuständigen Staatsanwaltschaft zur Anzeige
        gebracht werden.
      </li>
    </ul>
    <p>5.5 Der drumdibum-User hat von den von ihm in drumdibum eingestellten Inhalten, insbesondere Termineinträge, in
      der Bedeutung der Inhalte entsprechenden Abständen Sicherungen zu fertigen („Backups“). Der Anbieter ist zur
      Erstellung von Backups nur verpflichtet, wenn dies Bestandteil der gegenüber dem drumdibum-User nach der
      Leistungsbeschreibung zu erbringenden Dienstleistungen ist.</p>
    <br>
    <p class="bold">6. Übertragung von Nutzungs- und Verwertungsrechten </p>
    <br>
    <p>6.1 Mit dem Einstellen von Inhalten in drumdibum räumt der drumdibum-User dem Anbieter diejenigen Nutzungs- und
      Verwertungsrechte an den Inhalten ein, die vom Anbieter benötigt werden, damit dieser die mit drumdibum
      verbundenen Dienstleistungen für den drumdibum-User erbringen kann. Die Verwertungsrechte werden zeitlich,
      räumlich und inhaltlich unbeschränkt eingeräumt. Die Verwertungsrechte bestehen insbesondere bei Beendigung der
      Mitgliedschaft entsprechend Ziff. 9 fort.</p>
    <p>6.2 Werden vom drumdibum-User Text-, Bild-, Grafik-, Audio- oder Videodateien in drumdibum eingestellt, hat der
      drumdibum-User sicherzustellen, dass ihm an solchen Inhalten die erforderlichen Nutzungs- und Verwertungsrechte
      zustehen. Sollen Bild-, Grafik-, Audio- oder Videodateien verwendet und anderen drumdibum-Usern oder Dritten über
      drumdibum zugänglich gemacht werden, die außer dem drumdibum-User selbst noch weitere Personen darstellen oder
      sonst enthalten, darf die Verwendung nur mit ausdrücklicher Zustimmung aller weiterer dargestellten oder sonst
      enthaltener Personen hierzu erfolgen.</p>
    <br>
    <p class="bold">7. Sanktionen</p>
    <br>
    <p>Der Anbieter darf nach billigem Ermessen (§ 315 BGB) unter Beachtung der Interessen des drumdibum-Users eine oder
      mehrere Sanktionen gegen den drumdibum-User verhängen, wenn dieser gegen diese AGB verstoßen hat oder ein
      wichtiger Grund im Sinne von Ziff. 9.3 dieser AGB vorliegt. Die Schwere der Sanktionen hat sich nach der Schwere
      der Zuwiderhandlung des drumdibum-Users zu richten. Die Sanktion bleibt solange bestehen, bis die sanktionierte
      Handlung von dem drumdibum-User abgestellt und eine etwaige Wiederholungsgefahr ausgeräumt ist. Als Sanktionen
      kommen in Betracht: (i) die Deaktivierung oder Sperrung einzelner Dienstleistungen oder Inhalte für den
      betroffenen drumdibum-User (ii) die Löschung der für den drumdibum-User bei drumdibum eingestellten Inhalte, sowie
      (iii) die vollständige Sperrung des Zugangs zu drumdibum einschließlich des Mitgliederprofils. Das Recht zur
      außerordentlichen Kündigung aus wichtigem Grund durch den Anbieter nach Ziff. 9.3 bleibt hiervon ebenso unberührt
      wie die Geltendmachung weitergehenden Ansprüche.</p>
    <br>
    <p class="bold">8. Haftung und Verfügbarkeit</p>
    <br>
    <p>8.1 Soweit sich aus diesen AGB nichts anderes ergibt, haftet der Anbieter für die kostenlos zu erbringenden
      Leistungen bzw. für im Rahmen der Erbringung oder der Mangelhaftigkeit dieser Leistungen lediglich für Vorsatz und
      grobe Fahrlässigkeit. Dies gilt entsprechend für gesetzliche Vertreter und Erfüllungsgehilfen einschließlich
      Subunternehmern. Die verschuldensabhängige Haftung bei Personenschäden (Leben und Gesundheit) ist demgegenüber
      unbeschränkt.</p>
    <p>8.2 Die Verfügbarkeit von drumdibum kann zeitweise wegen technischer Störungen, die nicht vom Anbieter zu
      vertreten sind, oder aus Gründen höherer Gewalt (Ausfall von Stromversorgung und/oder Internet, Brand, Explosion,
      Erdbeben, Unwetter, Überschwemmungen, vom Anbieter nicht zu vertretende Arbeitskampfmaßnahmen) im Ganzen oder in
      Teilen eingeschränkt sein, ferner wegen der Durchführung von Wartungsarbeiten, die der Aufrechterhaltung und
      Verbesserung der Betriebsfähigkeit und Funktionalität von drumdibum dienen. Für die Folgen einer eingeschränkten
      Verfügbarkeit haftet der Anbieter ausschließlich im Rahmen einer dem drumdibum-User in der Leistungsbeschreibung
      zugesagten Verfügbarkeit und nur nach Maßgabe der Ziff. 8.1.</p>
    <p>8.3 Für Pflichtverletzungen des drumdibum-Users haftet ausschließlich der drumdibum-User selbst. Der
      drumdibum-User stellt den Anbieter von sämtlichen auf Zahlung gerichteten Ansprüchen anderer drumdibum-User und
      Dritter frei, die gegen den Anbieter wegen einer Rechtsverletzung durch die für einen drumdibum-User auf drumdibum
      eingestellten Inhalte und/oder wegen der Nutzung von drumdibum durch den drumdibum-User geltend gemacht werden.
      Der drumdibum-User übernimmt auf erstes Anfordern alle dem Anbieter entstehenden und angemessenen Kosten, die aus
      einer solchen Rechtsverletzung resultieren. Davon umfasst sind insbesondere die notwendigen Kosten der
      Rechtsverteidigung. Dies gilt nicht, wenn der drumdibum-User die Rechtsverletzung nicht zu vertreten hat. Andere
      Ansprüche des Anbieters gegen den drumdibum-User bleiben hiervon unberührt.</p>
    <p>8.4 Kommt es zum Verlust von eingestellten Inhalten des Mitglieds, haftet der Anbieter hierfür nach Maßgabe
      dieser Ziff. 8 dem Grunde nach nur, soweit der drumdibum-User seinen Pflichten zur Erstellung von Backups nach
      Ziff. 5.5 nachgekommen ist und der Verlust gleichwohl eingetreten ist.</p>
    <br>
    <p class="bold">9. Kündigung und Beendigung der Mitgliedschaft</p><br>
    <p>9.1 Die Mitgliedschaft läuft auf unbestimmte Zeit.</p>
    <p>9.2 Der drumdibum-User kann die Mitgliedschaft bei drumdibum jederzeit unter Einhaltung einer Kündigungsfrist von
      einem Kalendertag beenden. Der Anbieter kann die Mitgliedschaft des drumdibum-Users bei drumdibum jederzeit unter
      Einhaltung einer Kündigungsfrist von zwei Kalenderwochen beenden. Die Beendigung bedarf jeweils einer Erklärung in
      Textform (§ 126b BGB).</p>
    <p>9.3 Mit Beendigung der Mitgliedschaft wird das Mitgliederprofil des drumdibum-Users spätestens mit Ablauf des der
      Kündigung nachfolgenden Kalendermonats unwiederbringlich gelöscht. Die vom drumdibum-User eingestellten Inhalte
      bleiben auch nach Löschung des Mitgliederprofils weiter gemäß den Bestimmungen nach Ziff. 6 über drumdibum
      erreichbar. Für den Fall, dass die gespeicherten Inhalte personenbezogene Daten beinhalten, so können sie deren
      Erhebung und Speicherung jederzeit widerrufen. Zu diesem Zweck können Sie sich per E-Mail an <a
        href="mailto:drumdibum@iks-gmbh.com">drumdibum@iks-gmbh.com</a>
      wenden. Um einem denkbaren Datenverlust vorzubeugen, hat der drumdibum-User vor Beendigung der Mitgliedschaft die
      zur weiteren Nutzung vorgesehenen Inhalte durch Herunterladen zu sichern.</p>
    <p>9.4 Das Recht zur außerordentlichen Kündigung der Mitgliedschaft bei drumdibum aus wichtigem Grund (§ 314 BGB)
      bleibt unberührt. Ein wichtiger Grund liegt für den Anbieter insbesondere vor, wenn der drumdibum-User
      schwerwiegend oder trotz einer Abmahnung des Anbieters fortgesetzt und schuldhaft gegen diese AGB verstoßen
      hat.</p>
    <br>
    <p class="bold">10. Vertraulichkeit und Datenschutz</p>
    <br>
    <p>10.1 Die für den drumdibum-User bei drumdibum eingestellten Inhalte sind ausschließlich dem drumdibum-User selbst
      zugänglich. Der Anbieter erlangt von den Inhalten des drumdibum-Users nur Kenntnis, soweit dies zur Erbringung der
      Dienstleistungen erforderlich und technisch unvermeidbar ist. Anderen drumdibum-Usern und Dritten sind für den
      drumdibum-User bei drumdibum eingestellte Inhalte nur zugänglich, wenn diese vom drumdibum-User selbst zu diesem
      Zweck freigegeben worden sind.</p>
    <p>10.2 Der Anbieter erhebt, verarbeitet und nutzt bei drumdibum personenbezogene Daten. Alle Informationen zum
      Umgang mit personenbezogenen Daten durch den Anbieter finden sich in der Datenschutzerklärung, die in der
      aktuellen Fassung jederzeit unter <a routerLink="/privacy">{{privacyUrl}}</a> abrufbar ist.</p>
    <br>
    <p class="bold">11. Schlussbestimmungen</p><br>
    <p>11.1 Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts und des
      Kollisionsrechts; Art. 3 EGBGB bleibt unberührt. Hat der drumdibum-User zum Zeitpunkt der Begründung der
      Mitgliedschaft seinen gewöhnlichen Aufenthalt in einem anderem Land innerhalb von EU/EWR, bleibt die Anwendung
      zwingender Rechtsvorschriften dieses Landes von der in diesen AGB getroffenen Rechtswahl unberührt.</p>
    <p>11.2 Die Abtretung von Ansprüchen des drumdibum-Users im Zusammenhang mit der Mitgliedschaft bei drumdibum bedarf
      der Zustimmung des Anbieters, die nur aus wichtigem Grund verweigert werden darf.</p>
    <p>11.3 Der Anbieter ist berechtigt, die Mitgliedschaft mit dem drumdibum-User auf einen Dritten zu übertragen
      („Vertragsübertragung“). Hierüber wird der Anbieter den drumdibum-User mindestens einen Kalendermonat vor dem
      Zeitpunkt der Vertragsübertragung in Textform (§ 126b BGB) informieren. Erklärt der drumdibum-User innerhalb von
      einem Kalendermonat nach Zugang dieser Information die Kündigung seiner Mitgliedschaft einschließlich etwaiger
      kostenpflichtiger Dienstleistungen in Textform (§ 126b BGB), endet die Mitgliedschaft spätestens auf den Zeitpunkt
      der Vertragsübertragung. Anderenfalls geht die Mitgliedschaft mit allen Rechten und Pflichten auf den Dritten
      über, so wie diese im Zeitpunkt der Vertragsübertragung zwischen drumdibum-User und Anbieter bestanden hat.</p>
    <p>11.4 Mündliche Nebenabreden wurden nicht getroffen. Änderungen und Ergänzungen dieser AGB sowie alle auf die
      Mitgliedschaft bezogenen Erklärungen der Parteien bedürfen der Textform (§ 126b BGB). Dies gilt auch für die
      Aufhebung des Formerfordernisses.</p>
  </div>
</div>
