<div [formGroup]="general">
  <div [ngClass]="{'has-error' : hasErrors('title') }">
    <label for="title" class="top-label">
      Geben Sie Ihrer Anfrage einen treffenden Titel.
    </label>
    <br>
    <input formControlName="title" #title class="form-control" id="title" type="text" tabindex="0" autofocus
           placeholder="Titel" maxlength="100"/>
    <small *ngIf="hasErrors('title')" class="text-danger">
      Bitte tragen Sie einen Titel ein.
    </small>
    <br>
    <br>
  </div>

  <div class="description-div">
    <label for="description" class="top-label">
      Hier können Sie Ihre Anfrage detailliert beschreiben.
      <span class="optional">
            (optional)
          </span>
    </label>
    <br>
    <textarea formControlName="description" class="form-control" id="description" tabindex="0"
              placeholder="Beschreibung" maxlength="500">
        </textarea>
    <br>
  </div>

  <div [ngClass]="{'has-error' : hasErrors('organizerMail') }">
    <label for="email" class="top-label">
      Wenn Sie per E-Mail über den Stand Ihrer Anfrage informiert werden möchten, können Sie hier Ihre E-Mail
      Adresse angeben.
      <span class="optional">
             (optional)
          </span>
    </label>
    <br>
    <input formControlName="organizerMail" #organizerMail class="form-control" id="email" type="text" tabindex="0"
           placeholder="name@mail.com"
    />
    <small *ngIf="hasErrors('organizerMail')" class="text-danger">
      Bitte geben Sie eine gültige E-Mail Adresse ein.
    </small>
    <br>
    <br>
  </div>

  <div [ngClass]="{'datepicker-error' : hasErrors('deadline')}">
    <label for="deadline" class="top-label">
      Geben Sie an, bis wann Teilnehmer über Ihre Anfrage abstimmen können.
    </label>
    <br>
    <my-date-picker id="deadline" formControlName="deadline" [options]="_datepickerService.deadlineConfig"
                    (dateChanged)="updateDatepicker($event)"></my-date-picker>
    <br>
    <small *ngIf="hasErrorsOrNull('deadline')" class="text-danger">
      Es muss ein gültiges Datum angegeben werden.
    </small>
    <br>
    <br>
  </div>
</div>
