<h1>
  <u>
    {{ appointmentRequest.title }}
  </u>
</h1>
<p class="description-headline">{{ appointmentRequest.description }}</p>
<div *ngIf="!appointmentRequest.expired;else exceeded" class="inline">
  <p class="deadline">
    Umfrage aktiv bis: {{ appointmentRequest.deadline | datex: 'DD.MM.YYYY' }}
  </p>
</div>
<ng-template #exceeded>
  <p class="deadline exceeded">
    Umfrage abgelaufen seit: {{ appointmentRequest.deadline | datex: 'DD.MM.YYYY' }}
  </p>
</ng-template>
<button class="btn-primary" id="download" (click)="exportPdf(appointmentRequest)">Download</button>
