  <div *ngIf="formSubmitted && appointments.length == 0" class="top-label text-danger">
    Es muss wenigstens ein Termin existieren über den abgestimmt werden soll.
  </div>

  <div *ngFor="let appointment of appointments.slice().reverse(); let idx=index" class="col-md-6 ">
    <div class="appointment">
      <td class="data">
        <div *ngIf="appointmentConfig.startDate || appointmentConfig.startTime" id="showStartDate">
          {{ appointment.startDate | datex: dateFormat[0] }}
        </div>

        <div *ngIf="appointmentConfig.endDate || appointmentConfig.endTime" id="showEndDate">
          - {{ appointment.endDate | datex: dateFormat[1] }}
        </div>

        <div *ngIf="appointmentConfig.description" id="showDescription">
          {{ appointment.description }}
        </div>

        <div *ngIf="appointmentConfig.url && appointment.url" id="showUrl">
          <a target="_blank" href="{{ appointment.url }}">Link</a>
        </div>
      </td>
      <td class="delete">
        <button type="button"
                (click)="deleteAppointment(appointments.length - idx - 1)"
                (keyup.enter)="deleteAppointment(appointments.length - idx - 1)"
                class="appointment-delete">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </div>
  </div>
