.appointment-container {
  border-radius: 5px;
  border: 1px solid #2c3e50;
  padding: 5px;
}

.appointment {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #95a5a6;
}

td.data {
  width: 100%;
}

.delete {
  width: 35px !important;
}
button {
  border: none;
  background-color: #95a5a6;
}
a {
  color: #2c3e50;
  text-decoration: underline;
}
