<form [formGroup]="appointmentInput" id="appointment-form">
  <div class="col-md-12 well">
    <h4>
      Erstellen Sie hier einen oder mehrere Vorschläge, über die abgestimmt werden soll.
    </h4>

    <div *ngIf="appointmentConfig.description" [ngClass]="{'has-error': hasErrors('description')}" id="description-wrapper">
      <label>Beschreibung</label>
      <input formControlName="description"
             #appointmentDescription
             id="description"
             class="form-control"
             type="text"
             maxlength="200"
             tabindex="0"/>
    </div>
    <small *ngIf="hasErrors('description')" class="error-text">Bitte tragen Sie eine Beschreibung für den
      Terminvorschlag ein.
    </small>

    <div *ngIf="appointmentConfig.url" [ngClass]="{'has-error': hasErrors('url')}" id="url-wrapper">
      <br>
      <label>URL</label>
      <input formControlName="url"
             id="url"
             class="form-control"
             type="text"
             maxLength="200"
             tabindex="0"
             placeholder="www..."/>
    </div>
    <small *ngIf="hasErrors('url')" class="error-text">Bitte tragen Sie eine gültige URL ein.
    </small>

    <div *ngIf="appointmentConfig.startDate || appointmentConfig.startTime" class="datetime-wrapper">
        <br>
        <div *ngIf="appointmentConfig.startDate" [ngClass]="{'datepicker-error': datepickerError('appointmentStartDate') && showErrors}" id="startDate-wrapper">

          <label class="block">Start-Datum</label>
          <my-date-picker id="startDate"
                          formControlName="appointmentStartDate"
                          [options]="_datepickerService.appointmentConfig"
                          (dateChanged)="_datepickerService.setAppointmentStartDate($event)"></my-date-picker>
        </div>

        <div *ngIf="appointmentConfig.startTime" [ngClass]="{'has-error': hasErrors('startTime')}" id="startTime-wrapper">
          <label>Start-Zeit</label>
          <input formControlName="startTime"
                 id="startTime"
                 [required]="appointmentConfig.startTime"
                 class="form-control time-col"
                 type="text"
                 maxlength="5"
                 size="5"
                 tabindex="0"
                 placeholder="00:00"/>
        </div>

        <small *ngIf="showErrors && (datepickerError('appointmentStartDate') || datepickerError('appointmentEndDate'))" class="date-error-text">
          Bitte tragen Sie gültige Daten ein.
        </small>
        <small *ngIf="showErrors && hasDateError() && !hasErrors('startTime') && !hasErrors('endTime')" class="date-error-text">
          Das Start-Datum muss größer oder gleich dem End-Datum sein.
        </small>
        <small *ngIf="hasErrors('startTime') || hasErrors('endTime')" class="date-error-text">
          Bitte tragen Sie gültige Zeiten ein.
        </small>
        <small *ngIf="!isUnique" class="date-error-text">Es existiert bereits ein Termin mit dieser Kombination.</small>
      </div>

      <div *ngIf="appointmentConfig.endDate || appointmentConfig.endTime" class="datetime-wrapper">
        <br>
        <div *ngIf="appointmentConfig.endDate" [ngClass]="{'datepicker-error': datepickerError('appointmentEndDate') && showErrors}" id="endDate-wrapper">

          <label class="block">Ende-Datum</label>
          <my-date-picker id="endDate"
                          formControlName="appointmentEndDate"
                          [options]="_datepickerService.appointmentEndConfig"
                          (dateChanged)="_datepickerService.setAppointmentEndDate($event)"></my-date-picker>
        </div>

        <div *ngIf="appointmentConfig.endTime" [ngClass]="{'has-error': hasErrors('endTime')}" id="endTime-wrapper">
          <label>Ende-Zeit</label>
          <input formControlName="endTime"
                 id="endTime"
                 [required]="appointmentConfig.endTime"
                 class="form-control time-col"
                 type="text"
                 maxlength="5"
                 size="5"
                 tabindex="0"
                 placeholder="00:00"/>
        </div>
      </div>

      <div class="save-btn-wrapper">
        <button class="btn btn-default btn-save-appointment"
                id="btn-add"
                type="button"
                (click)="checkAndAddAppointment()"
                tabindex="0"
                [disabled]="!isOneChecked()">
          Vorschlag speichern
        </button>
      </div>

      <br>

  </div>
</form>
