/* Terminvorschläge */
.appointment-borders {
  border: 0px solid #73AD21;
  border-radius: 25px;
  padding: 4px 2px 2px 2px;
  height: 28px;
  width: 95%;
  margin: 2px;
  background-color: #2C3E50;
  color: white;
}

.appointment-date:after {
  clear: both;
}

.appointment-float {
  padding-left: 5px;
  float: left;
}

.appointment-float:after {
  clear: both;
}

.appointment-delete {
  padding-left: 7px;
  padding-right: 15px;
  padding-top: 2px;
  display: inline;
  float: right;
}

.appointment-delete:after {
  clear: both;
}

.date-col {
  width: 160px !important;
}

.location-col {
  width: 250px !important;
}

.time-col {
  width: 75px;
}

.freeinput-col {
  width: 250px !important;
}

.btn-add-appointment {
  padding-top: 15px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 9px;
  border: none;
  background: none;
}

#appointment-error-row {
  height: 50px;
}

.invisible {
  display: none;
}

.appointment-container {
  height: 160px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 53px;
}

.left-inner-addon span {
  position: absolute;
  padding: 12px 12px;
  pointer-events: none;
}

.block {
  display: block;
}

.btn-save-appointment {
  margin-top: 25px;
  width: 100%;
}

.datetime-wrapper {
  height: 76px;
  width: 300px;
  float: left;
}

.datetime-wrapper::after {
  clear: both;
}

.datetime-wrapper div {
  float: left;
}

.datetime-wrapper div::after {
  clear: both;
}

.save-btn-wrapper {
  float: right;
}

.save-btn-wrapper::after {
  clear: both;
}


.error-text {
  color: #e74c3c;
  display: block;
  width: 500px;
}

.date-error-text {
  color: #e74c3c;
  display: block;
  width: 500px;
  float: left;
}

.date-error-text::after {
  clear: both;
}

.date-error {
  border: 2px solid #e74c3c;
}

:host /deep/ .datepicker-error .mydp input {
  border: 2px solid #e74c3c;
}

@media(max-width: 990px) {
  .save-btn-wrapper {
    float: none;
  }
}

@media(max-width: 727px) {
  .date-error-text {
    margin-top: 75px;
  }
}
