h1 {
  margin: auto;
}

.inner {
  min-width: 300px;
}

label {
  margin: 5px 0 0 0;
}

#upper-input {
  margin: 0 0 25px 0;
}

#new-password-input {
  margin: 25px 0 0 0;
}

.error-text {
  color: red;
}
