<div class="col-md-4 col-md-offset-4" *ngIf="hasAccess">
  <h1>Passwort ändern</h1>
  <br><br>
  <div class="well row inner" [formGroup]="changePasswordForm">
    <label>Altes Passwort:</label><input type="password" class="form-control" formControlName="oldPassword" />
    <small *ngIf="wrongPassword" class="error-text">Sie haben ein falsches Passwort eingegeben.</small>
    <label id="new-password-input">Neues Passwort:</label><input type="password" class="form-control" formControlName="newPassword" />
    <label>Passwort wiederholen:</label><input type="password" class="form-control" formControlName="repetition"/>
    <small *ngIf="!passwordsMatching() && alreadySubmitted" class="error-text">Die Passwörter stimmen nicht überein oder sind kürzer als 4 Zeichen.</small>
    <br><br>
    <input type="button" value="Passwort ändern" class="btn btn-primary pull-right" (click)="changePassword()" />
  </div>
</div>
