<div class="input-group common-height">
  <input
    tabindex="0"
    [ngModel]="stringValue"
    (keypress)="ckeckKey($event)"
    (keydown)="ckeckArrows($event)"
    (ngModelChange)="setValue($event)"
    type="text"
    class="form-control">
  <div class="input-group-btn-vertical">
    <button (click)="increment()"
            class="btn btn-default"
            type="button"
            tabindex="-1">
      <i class="fa fa-caret-up"></i>
    </button>
    <button (click)="decrement()"
            class="btn btn-default"
            type="button"
            tabindex="-1">
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
</div>
