.btn-delete {
  float: right;
  background: none;
  border: none;
}

.btn-delete::after {
  clear: both;
}

.email-div {
  display: inline-flex;
  background-color: #95a5a6;
  border-radius: 5px;
  padding: 3px 0px 0px 8px;
  margin: 2px 2px 2px 1px;
  height: 28px !important;
}

.email-wrapper {
  width: 100%;
  height: auto;
}

.email-input {
  margin: 5px 0 0 0;
  height: auto;
  padding: 0;
  border: none;
  background: none;
}
