<div class="col-md-12">
  <h4>Konfigurieren Sie die Art der Termine über die abgestimmt werden soll.</h4>
  <div [formGroup]="appointmentConfiguration" id="appointment-config-wrapper">
    <label>
      <input formControlName="description"
             id="description"
             type="checkbox"
             tabindex="0"/>
      Beschreibung
      <span popover="Was soll wo stattfinden?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <br>
    <label>
      <input formControlName="url"
             id="url"
             type="checkbox"
             tabindex="0"/>
      URL
      <span popover="Gibt es im Internet noch weitere Informationen zur Veranstaltung?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <br>
    <label>
      <input formControlName="startDate"
             id="startDate"
             type="checkbox"
             tabindex="0"/>
      Datum: Von
      <span popover="An welchem Tag soll die Veranstaltung stattfinden?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <br>
    <label>
      <input formControlName="startTime"
             id="startTime"
             type="checkbox"
             tabindex="0"/>
      Uhrzeit: Von
      <span popover="Wann soll die Veranstaltung beginnen?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <br>
    <label>
      <input formControlName="endDate"
             id="endDate"
             type="checkbox"
             tabindex="0"/>
      Datum: Bis
      <span popover="An welchem Tag soll die Veranstaltung stattfinden?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <br>
    <label>
      <input formControlName="endTime"
             id="endTime"
             type="checkbox"
             tabindex="0"/>
      Uhrzeit: Bis
      <span popover="Bis wann wird die Veranstaltung voraussichtlich beendet sein?"
            popoverPlacement="right"
            [popoverOnHover]="true">
    <i class="glyphicon glyphicon-info-sign"></i>
    </span>
    </label>
    <p *ngIf="!isOneChecked()" class="text-danger">Es muss mindestens ein Feld ausgewählt sein.</p>
  </div>
</div>
