<span class="centered">
  <h1>Impressum</h1>
</span>
<div class="well wrapper">

  <div>
    <p>Diensteanbieter:<br>IKS Gesellschaft für Informations- und Kommunikationssysteme mbH<br>vertreten durch die
      Geschäftsführung Monika Stoll und Thomas Kondring</p>
    <p>Siemensstr. 27<br>40721 Hilden</p>
    <p>T. +49 2103 - 58 72-0<br>F. +49 2103 - 58 72-58</p>
    <p>info@iks-gmbh.com<br>http://www.iks-gmbh.com/</p>
    <p>Handelsregister: Amtsgericht Düsseldorf<br>Registernummer: HRB Düsseldorf 45519</p>
    <p>Umsatzsteuer-Identifikationsnummer: DE121387506</p>
    <h2>Disclaimer</h2>
    <h3>Haftungsausschluss</h3>
    <p>Der Diensteanbieter übernimmt keine Garantie für Richtigkeit, Vollständigkeit und Aktualität der Angaben auf
      dieser Internetseite. Die Angaben dienen allein der unverbindlichen allgemeinen Information.</p>
    <h3>Links</h3>
    <p>Nutzer dieser Internetseite können über Links zu externen Internetseiten gelangen, die nicht vom Diensteanbieter
      betrieben werden. Derartige Links werden vom Diensteanbieter entweder eindeutig gekennzeichnet (etwa durch
      Anbringung eines Hinweises wie „Werbung“ oder „Anzeige“), oder sind durch einen Wechsel in der Adresszeile bei dem
      vom Nutzer verwendeten Browser erkennbar. Für die Inhalte dieser externen Internetseiten ist der Diensteanbieter
      nicht verantwortlich.</p>
    <h3>Urheberrecht und gewerbliche Schutzrechte</h3>
    <p>Die Internetseite, insbesondere auch die dort abrufbaren Texte, Fotos, Abbildungen und sonstigen Inhalte, sind
      urheberrechtlich geschützt. Der Diensteanbieter behält sich alle Rechte hieran vor. Jedwede Verwendung oder
      Verwertung, insbesondere die Vervielfältigung, Verbreitung und öffentliche Zugänglichmachung, bedarf der
      vorherigen schriftlichen Zustimmung durch den Diensteanbieter. Auf der Internetseite werden eingetragene Marken,
      Handelsnamen, Gebrauchsmuster und Logos von Diensteanbieter und Dritten verwendet. Auch wenn diese an den
      jeweiligen Stellen nicht als solche gekennzeichnet sind, gelten die entsprechenden gesetzlichen Bestimmungen.</p>
    <h3>Datenschutz</h3>
    <p>Der Diensteanbieter nimmt die gesetzlichen Bestimmungen zum Datenschutz sehr ernst. Personenbezogene Daten
      erlauben die Feststellung der Identität des Nutzers dieser Internetseite. Hierunter fallen u.a. Name, Anschrift,
      Telefonnummer und E-Mail-Adresse. Die Nutzung dieser Internetseite ist grundsätzlich möglich, ohne dass der Nutzer
      seine Identität ganz oder teilweise offenlegen muss. Lediglich bei der Nutzung des Kontaktformulars oder einer
      sonstigen Kontaktaufnahme zum Diensteanbieter über die Internetseite ist die Offenlegung personenbezogener Daten
      des Nutzers erforderlich. Es liegt deshalb allein beim Nutzer, ob dieser über die Internetseite Kontakt mit dem
      Diensteanbieter aufnehmen und zu diesem Zweck personenbezogene Daten übermitteln will. Die vom Nutzer ggf. über
      die Internetseite erhobenen personenbezogenen Daten werden vom Diensteanbieter ausschließlich zur Bearbeitung der
      Anfrage des Nutzers gespeichert und verarbeitet. Eine Nutzung der personenbezogenen Daten zu Werbezwecken erfolgt
      nicht, sofern der Nutzer hierum nicht ausdrücklich gegenüber iks gebeten hat. Der Diensteanbieter gibt in keinem
      Fall Ihre personenbezogenen Daten (auch nicht Ihre E-Mail-Adresse) an Dritte weiter. Diese Internetseite wird von
      einem hierauf spezialisierten Computer (Server) ausgeliefert, der automatisch bei jedem Aufruf der Internetseite
      Informationen erhebt und in Protokolldateien (Log Files) speichert. Hierbei handelt es sich um folgende
      Informationen: Browsertyp und Browserversion, verwendetes Betriebssystem, Adresse der zuvor besuchten
      Internetseite (Referrer URL), Adresse des Computers, mit dem auf diese Internetseite zugegriffen wird (IP Adresse)
      und Uhrzeit des Abrufs dieser Internetseite. Diese Informationen werden vom Browser übermittelt, sofern der Nutzer
      seinen Browser, ggf. mittels eines zusätzlichen Programms, nicht so eingestellt hat, dass die Übermittlung dieser
      Informationen unterdrückt wird. Die mit diesen Informationen in den Log Files des Servers gewonnenen Daten sind
      bestimmten Personen nicht zuzuordnen. Eine Zusammenführung dieser Daten mit etwaigen anderen Datenquellen wird
      nicht vorgenommen. Auf dieser Internetseite werden sogenannte Cookies verwendet. Cookies sind kleine Textdateien,
      die von den Internetseiten über den Browser auf dem Computer des Nutzers gespeichert werden. Sie dienen dazu, die
      Benutzung dieser Seite einfacher zu machen. Die auf diesen Internetseiten verwendeten Cookies enthalten keine
      Viren und richten auf dem Computer des Nutzers auch im Übrigen keinen Schaden an. Personenbezogene Daten werden in
      den von dieser Internetseite verwendeten Cookies nicht gespeichert. Nutzer dieser Internetseite haben jederzeit
      das Recht, unentgeltlich und unverzüglich Auskunft über die zu ihrer Person gespeicherten Daten zu erhalten. Ein
      solcher Auskunftsanspruch setzt jedoch voraus, dass auf dieser Internetseite überhaupt personenbezogene Daten
      gespeichert werden, was auf dieser Internetseite nicht geschieht. Sollte der Nutzer jedoch über diese
      Internetseite Kontakt zum Diensteanbieter aufgenommen haben, erteilt dieser jederzeit unentgeltlich und
      unverzüglich gemäß den gesetzlichen Bestimmungen Auskunft über sämtliche über den Nutzer beim Diensteanbieter
      gespeicherten Daten. Zuständig hierfür ist die im Impressum genannte Person.</p>
  </div>
</div>
